/* div.home.container {
  min-height: 90vh;
} */

h1.hero {
  color: #b0c9d6;
  font-weight: bold;
  background-color: rgb(96, 106, 39, 0.6);
  padding: 20px;
  border-radius: 5px;
}
.navbar-brand img {
  max-width: 50px;
  margin-right: 8px;
}

.navbar-brand {
  font-size: 2.2rem;
}

.section-title {
  text-align: center;
  font-size: 1.5rem;
}

.value-item {
  background-color: grey;
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
}

.value-name {
  text-align: center;
  font-size: 1.2rem;
}

.section {
  min-height: 60vh;
}

.segment {
  background-color: rgb(211, 211, 211, 0.6);
  border-radius: 5px;
}

footer {
  color: white;
}
