div.home.container {
  min-height: 90vh;
}

.home-header button {
  font-size: 2.4rem;
}

.home-header {
  display: flex;
  justify-content: center;
}

.navbar-brand img {
  max-width: 50px;
  margin-right: 8px;
}

.navbar-brand {
  font-size: 2.2rem;
}

.App {
  height: 200vh;
}
